.product-list-controller {
   -fx-border-width: 2.5px;
   -fx-border-color: #26556D;
   -fx-border-radius: 15px;
   -fx-background-radius: 15px;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 3px, 3px);

}


.product-list-controller:hover{
    -fx-background-color: F5A658;
}



